body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #43aea3; 
  color: #fff;
  padding: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  flex-grow: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #3273dc; /* Blue color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.projects .project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.project-info {
  flex-grow: 1;
}

.project-info h3 {
  margin: 0;
}

.project-info p {
  margin-bottom: 10px;
}

footer {
  background-color: #f5f5f5;
  color: #cd1515;
  padding: 30px;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.social-media {
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icon img {
  width: 10px;
  height: 10px;
}

.social-icon:hover {
  transform: translateY(-5px);
}


.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
 
}
.menu li {
  margin: 0 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

/* Typography */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  color: #fafafa;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0 0 10px;
}

/* Visual Effects */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #3273dc; /* Blue color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2459ab; /* Darker blue color */
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.profile-info h2 {
  margin: 0;
  transition: color 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.1);
}

.profile-info h2:hover {
  color: #ec7f37; /* Orange color */
}
